# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# public
.claude
.vscode
.claude

PROJECT_STRUCTURE.md
supabase-schema.sql
supabase-authdata-response.js
text.md
createEditProductAction-example.js
PaginationForced.js
PaginationStandalone.js
coupon_auto_deactivate_trigger.sql
coupon_constraints.sql
use_coupon_transaction.sql
couponCleanupJob.js
object-of-single-product.js
complete-add-to-cart-flow.js
signInWithPasswordResponse.js
text-2.md
checkout-flow.md
CLAUDE.md
check-transaction-by-md5.md
generate-khqr-clientside-sdk.md
how-khqr-works.md
how-to-use-khqr-sdk.md
supabase-functions.sql
duanpenhdatacenter-vps.md
khqr-proxy.md
payment-response-vpn.md
access-duanpenh-vps.md
putty-readme.md
DEPLOYMENT_GUIDE.md

temp/